{% extends "base.html" %}

{% block content %}
    <div>
        <h1><img src="{{ user.avatar(64) }}" >{{ user.username }}</h1>
    </div>
    {% if user.about_me %}
    <p>about: {{ user.about_me }}</p><br>
    {% endif %}
    {% if user.last_seen %}
    <p>last seen on: {{ user.last_seen }}</p>
    {% endif %} 

    <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>

    {% if user ==  current_user %}
    <p><a href="{{ url_for('edit_profile') }}">edit your profile</a></p>

    {% elif not current_user.is_following(user) %}
    <p>
        <form action="{{ url_for('follow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Follow') }}
        </form>
    </p>
    {% else %}
    <p>
        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Unfollow') }}
        </form>
    </p>
    {% endif %}         

    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}

    {% if prev_url %}
        <a href="{{ prev_url }}"><i>prev</i></a>
    {% endif %}

    {% if next_url %}
        <a href="{{ next_url }}"><i>next</i></a>
    {% endif %}    
{% endblock %}